# Secrets and local configurations
**/.env

# Local Python virtual environments
**/*env/
.venv/
venv/
dbt_env/

# Build, tracking, and cache artifacts
**/__pycache__/
**/.pytest_cache/
**/target/
**/logs/